#contentGame {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 10px auto;
}
    
#contentGame canvas {
    cursor: none;
    border: solid 1px #000;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0; 
    left: 0;
}

#contentGame canvas#jeu {
    background-image: url('/images/fond.jpg');
    background-size: 1000px 1000px;
	background-repeat: round;
}