.logo
{
    position: relative;
    left: 25px;
}

.bar{
    margin-left: 100px;
}

.deco{
    position: relative;
    left: 700px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}