<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Game WebSocket</title>
        <link rel="stylesheet" th:href="@{/css/game.css}"/>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script type="text/javascript" th:src="@{/js/game.js}" />
    </head>
    <body>
        <input id="idUser" th:value="''+${idUser}" style="display:none;"/>
        <input id="isRanked" th:value="''+${isRanked}" style="display:none;"/>
        <div id="contentSearch">
            <h1>Recherche d'adversaire en cours</h1>
        </div>
        <div id="score">Score : 0 - 0</div>
        <div id="congrats"></div>
        <a href="main" id="btnMain" style="display: none;"><i class="fas fa-home bar "></i> Return to main menu </a>
        <div id="contentGame">
		    <canvas id="jeu" width="1000" height="1000"></canvas>
		    <canvas id="overlay" width="1000" height="1000"></canvas>
		</div>
    </body>
</html>