<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"></meta>
    <title>Login - ZooVolleyBall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <a th:href="findCasual" type="button" class="btn btn-primary btn-lg">Jouer</a>
                <div class="col-sm-5">
                    Profile
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Win/Lose</th>
                            <th scope="col">Winrate</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th th:text="''+${User.getPseudo()}">
                            </th>
                            <th th:text="''+${User.getMmr()}">
                            </th>
                            <th th:text="''+${User.getNbrWin()}+'/'+${User.getNbrLoss()}">
                            </th>
                            <th th:text="'Winrate : '+${Winrate}">
                            </th>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-4">
                    History
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Result</th>
                            <th scope="col">VS</th>
                            <th scope="col">Score</th>
                            <th scope="col">Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="partie: ${User.getParties()}">
                            <td th:text="${partie.getResult(User)}"></td>
                            <td th:text="${partie.getAdvName(User)}"></td>
                            <td th:text="${partie.getScore(User)}"></td>
                            <td>Sérieux tu veux laisser le temps là ?</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-2">
                    <table class="table">
                        Amis
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Online</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="friend: ${User.getAmis()}">
                            <td th:text="${friend.getPseudo()}"></td>
                            <td th:text="${friend.getMmr()}"></td>
                            <td>False</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4">
                Demande d'ami :
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="demande: ${Demandes}">
                        <td th:text="${demande.getDemandeur().getPseudo()}"></td>
                        <td><button type="button" value=demande.getDemandeur().getPseudo() class="btn btn-danger rounded">Accepter</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <h1>ZooVolleyBall</h1>
    <form th:action="@{/main}" method="post" style="max-width: 350px; margin: 0 auto;">
        <p>Ajouter un ami :</p>
        <input type="text" name="friend" class="form-control" required="required"/>
        <input type="submit" value="Rechercher" class="btn btn-primary" />
    </form>
    <ul>
        <li><a href="chat"> Chat</a> </li>
        <li><a href="game"> Game</a> </li>
        <li><a href="/logout"> Se déconnecter</a> </li>
        <li><a href="shop">Magasin</a> </li>
    </ul>
</body>



</html>