<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"></meta>
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>

<body>
    <table class="table">
        <tbody>
            <tr>
                <th>
                    <div class="container bg-secondary border">
                        <table class="table table-striped table-dark table-bordered table-hover table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-warning">User</th>
                                    <th scope="col" class="text-warning">Wallet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${User.getPseudo()}"></td>
                                    <td th:text="${User.getCredit()}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </th>
                <th>
                    <div class="container bg-secondary border">
                        <div class="container">
                            <table class="table thead-dark table-striped table-dark table-bordered table-hover table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-warning">Item</th>
                                    <th scope="col" class="text-warning">Image</th>
                                    <th scope="col" class="text-warning">Price</th>
                                    <th scope="col" class="text-warning">Achat</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <span class=" bg-danger d-flex justify-content-center" th:if="${Error != null}" th:text="${Error}"></span>
                                </tr>
                                <tr th:each="objet: ${Objets}">
                                    <td th:text="${objet.getNomObjet()}"></td>
                                    <td><img th:src="@{../static/images/16.png}"/></td>
                                    <td th:text="${objet.getPrice()}"></td>
                                    <td>
                                        <form th:action="@{/shop}" method="post" style="max-width: 350px; margin: 0 auto;">
                                            <input type="hidden" name='itemID' th:value="${objet.getId_objet()}"/>
                                            <button type="submit" value="" class="btn btn-danger rounded">Buy</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table thead-dark table-striped table-dark table-bordered table-hover table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-warning">Owned Item</th>
                                    <th scope="col" class="text-warning">Image</th>
                                    <th scope="col" class="text-warning">Price</th>
                                    <th scope="col" class="text-warning">Achat</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="objet: ${User.getObjets()}">
                                    <td th:text="${objet.getNomObjet()}"></td>
                                    <td th:text="${objet.getNomObjet()}"></td>
                                    <td th:text="OWNED"></td>
                                    <td><button type="button" class="btn btn-danger rounded">Select skin</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container center bg-secondary border">
                        <div class="form-row text-center">
                            <div class="col-12 ">
                                <ul class="list-inline">
                                    <li class="list-inline-item pl-2"><a class="" href="chat"> Chat</a> </li>
                                    <li class="list-inline-item pl-2"><a class="" href="main"> Game</a> </li>
                                    <li class="list-inline-item pl-2"><a class="" href="logout"> Se déconnecter</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</body>



</html>