<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"></meta>
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />

    <script src="https://kit.fontawesome.com/3ab8c87f7b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/shop.css}" />
    <!--<link rel="stylesheet" href="../static/css/shop.css" />-->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-black bg-dark">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/zvb.png}" class="img-thumbnail logo" alt="zvb" width="50" height="50"></img>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a href="main"><i class="fas fa-home bar "></i> Home </a>
            <a href="findcasual"><i class="fas fa-volleyball-ball bar "></i> Casual </a>
            <a href="game"><i class="fas fa-skull-crossbones bar "></i> Ranked </a>
            <a class="deco" href="/logout"><i class="fas fa-sign-out-alt bar "></i> Logout </a>
        </div>
    </nav>
    <table class="table">
        <tbody>
            <tr>
                <th>
                    <div class="container bg-secondary border">
                        <table class="table table-striped table-dark table-bordered table-hover table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-warning"> <i class="fas fa-user"></i> User</th>
                                    <th scope="col" class="text-warning"> <i class="fas fa-wallet"></i> Wallet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${User.getPseudo()}"></td>
                                    <td th:text="${User.getCredit()}"><i class="fas fa-money-bill-wave"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </th>
                <th>
                    <div class="container bg-secondary border">
                        <div class="container">
                            <table class="table thead-dark table-striped table-dark table-bordered table-hover table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-warning"> <i class="fab fa-buffer"></i>Item</th>
                                    <th scope="col" class="text-warning"> <i class="fas fa-image"></i> Image</th>
                                    <th scope="col" class="text-warning"> <i class="fas fa-tags"></i> Price</th>
                                    <th scope="col" class="text-warning"> <i class="fas fa-shopping-cart"></i> Buy</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <span class=" bg-danger d-flex justify-content-center" th:if="${Error != null}" th:text="${Error}"></span>
                                </tr>
                                <tr th:each="objet: ${Objets}">
                                    <td th:text="${objet.getNomObjet()}"></td>
                                    <td>
                                        <img th:src="@{'/images/'+${objet.getNomObjet()}+'.png'}"  style="width:64px;height:64px;" alt=""></img>
                                    </td>
                                    <td th:text="${objet.getPrice()}"></td>
                                    <td>
                                        <form th:action="@{/shop}" method="post" style="max-width: 350px; margin: 0 auto;">
                                            <input type="hidden" name='itemID' th:value="${objet.getId_objet()}"/>
                                            <button type="submit" value="" class="btn btn-danger rounded">Buy</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <table class="table thead-dark table-striped table-dark table-bordered table-hover table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-warning"> <i class="fab fa-buffer"></i> Owned Item</th>
                                    <th scope="col" class="text-warning"> <i class="fas fa-image"></i> Image</th>
                                    <th scope="col" class="text-warning"> <i class="fas fa-filter"></i> Type</th>
                                    <th scope="col" class="text-warning"> <i class="fas fa-check-circle"></i> Select</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="objet: ${User.getObjets()}">
                                    <td th:text="${objet.getNomObjet()}"></td>
                                    <td>
                                        <img th:src="@{'/images/'+${objet.getNomObjet()}+'.png'}"  style="width:64px;height:64px;" alt=""></img>
                                    </td>
                                    <td th:text="${objet.getType_item().name()}"></td>

                                    <td th:if="${Selected.get(objet.getId_objet())}">
                                        <button type="button" class="btn btn-secondary btn-lg" disabled="true" >Selected</button>
                                    </td>
                                    <td th:unless="${Selected.get(objet.getId_objet())}">
                                        <form th:action="@{/select}" method="post" style="max-width: 350px; margin: 0 auto;">
                                            <input type="hidden" name='selectedItemID' th:value="${objet.getId_objet()}"/>
                                            <input type="hidden" name='type' th:value="${objet.getType_item().ordinal()}"/>
                                            <button type="submit" value="" class="btn btn-danger rounded">Select</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</body>



</html>